.git
**/.git
.venv
**/.venv
.idea
**/.idea
__pycache__
**/__pycache__
*.pyc
.pytest_cache
**/.pytest_cache
.ruff_cache
frontend/node_modules
frontend/.npm-cache
frontend/dist
python-service/faiss_index
python-service/temp
python-service/tests/temp
*.tsbuildinfo
.env
